<div class="home">
    <div class="branding">
        <h1 class="homepage_header_heading homepage">
            Join Indonesia’s 
            <span class="text-span-141">Largest Live &NoBreak; Online Learning </span> 
            <span class="text-span-141">Community</span>
        </h1>
    </div>

    <div class="brading-sp">
        Recession Proof your Career by learning the most 
        valuable digital skills from the Best in the Industry. 
        100% Live Online Classes, Career Mentors, and Lifelong Community support to 
        unlock endless opportunities.
    </div>
</div>

<div class="home-headquarted">
    <div>
        <h1>Our Headquarter</h1>
    </div>
    
    <ul class="headquarted-country">
        <li>
            <a href="https://id.wikipedia.org/wiki/Monumen_Nasional" class="card">
                <img src="https://upload.wikimedia.org/wikipedia/id/thumb/b/b1/Merdeka_Square_Monas_02.jpg/800px-Merdeka_Square_Monas_02.jpg" alt="Jakarta">
                <h4>Jakarta</h4> 
            </a>
        </li>

        <li>
            <a href="https://id.wikipedia.org/wiki/Kota_Bandung" class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Cekungan_Bandung.jpg/1024px-Cekungan_Bandung.jpg" alt="Bandung">
                <h4>Bandung</h4> 
            </a>
        </li>

        <li>
            <a href="https://id.wikipedia.org/wiki/Masjid_Baiturrahman_Banda_Aceh" class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Meuseujid_Raya_Baiturrahman_.jpg" alt="Mesjid Raya Aceh">
                <h4>Aceh</h4> 
            </a>
        </li>
    </ul>

</div>

<div class="home-messages-us">
    <div class="form">
        <label for="name" >name</label>
        <input id="name" type="text" placeholder="name">

        <br>

        <label for="alive_date" >tanggal lahir :</label>
        <input type="date" id="alive_date" placeholder="tanggal lahir">

        <br>

        <label style="margin-right: 30px;" for="gender">Gender : </label>

        <input type="checkbox" name="male" id="male">
        <label>Male</label>

        <input type="checkbox" name="famale" id="famale">
        <label>Famale</label>
        
        <br>
        
        <label style="margin-right: 45px;vertical-align: top;" for="pesan">Pesan :</label>
        <textarea name="pesan" id="pesan" cols="30" rows="10"></textarea>

        <br>

        <button onclick="doClick()">sumbit</button>
    </div>
</div>