.profile-container {
    display: flex;
    overflow: hidden;
    margin: 10px 0;
    padding: 20px 50px;
    background-color: #fffefe;
    border-radius: 10px;
}

.prLeft {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    margin: 0 10px;
    max-height: 300px;
}

.prLeft > img {
    margin: 0 0 5px 0;
}

.prRight > .about {
    margin: 10px 0;
}

.prRight > .about > h1, h4, p {
    margin: 0;
    line-height: 20px;
}


.prRight > .about > p {
    font-size: 14px;
    letter-spacing: 1.2px;
    line-height: 12px;
}

.prRight > p {
    margin-top: 10px;
    letter-spacing: 2px;
    font: 1rem 'Newsreader', serif;
}
